<%- partial('_partial/resume') %>
<div class="resume">
    <div class="resume-left">
      <img src="/assets/img/avatar/psb.jpg" alt="photo">
          <span>Email:</span>
          <a href="#">1911986273@qq.com</a>
    </div>
    <div class="resume-entry">
        <%- page.content %>
    </div>
</div>

作者：pengloo53
链接：http://www.jianshu.com/p/347e7a0919ed
來源：简书
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。